* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url('/assets/images/aboutme-bg.webp');
  background-size: cover;
  background-attachment: fixed;
  background-color: #adac5fec;
  background-position: center;
}

header {
  text-align: center;
  background-color: green;
  margin: 100px auto 10px;
  width: 640px;
  padding: 3px;
  outline-color: white;
  outline-width: 5px;
  outline-style: solid;
  border-radius: 69px;
  color: white;
}

#music {
  background-color: #74d68b;
  width: 640px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  outline-color: green;
  outline-width: 5px;
  outline-style: inset;
  margin-bottom: 25px;
}

.center {
  text-align: center;
  align-items: center;
}



