body {
  background-image: url('/assets/images/Retep.webp');
  background-attachment: fixed;
  background-size: 10%;
  background-color: #74d68b;
}

#top {
  text-align: center;
  width: 641px;
  background-color: green;
  margin: auto;
}

#music {
  background-color: white;
  width: 641px;
  margin: auto;
}

#projects {
  width: 641px;
  margin: auto;
  text-align: center;
  background-color: green;
  font-size: 18px;
}

table {
  margin: auto;
}
